.box-secret-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .box-secret-text {
    padding-top: 40px;
  }
}

.secret-text {
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: var(--clr-primary);
  z-index: 100;
  font-family: "Trispace", sans-serif;
  letter-spacing: 10px;
}

@media (max-width: 1200px) {
  .secret-text {
    font-size: 3.5rem;
  }
}
@media (max-width: 1000px) {
  .secret-text {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .secret-text {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .secret-text {
    font-size: 2rem;
  }
}
