.box-secret-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.secret-text {
  position: relative;
  font-size: 5rem;
  text-align: center;
  color: var(--clr-primary);
  z-index: 100;
  margin-left: 20px;
  font-family: "Trispace", sans-serif;
  letter-spacing: 10px;
}

@media (max-width: 1800px) {
  .secret-text {
    font-size: 4rem;
  }
}

@media (max-width: 1500px) {
  .secret-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 1300px) {
  .secret-text {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .secret-text {
    font-size: 1.5rem;
  }
}
