.last-first-name {
  text-align: end;
  font-size: 15rem;
  font-family: "Source Code Pro", monospace;
  color: var(--clr-accent);
  margin-right: 15px;
  line-height: 0.8;
}
@media (max-width: 1800px) {
  .last-first-name {
    font-size: 12rem;
  }
}

@media (max-width: 1500px) {
  .last-first-name {
    font-size: 9rem;
  }
}

@media (max-width: 1300px) {
  .last-first-name {
    font-size: 8rem;
  }
}
@media (max-width: 1000px) {
  .last-first-name {
    font-size: 7rem;
  }
}
@media (max-width: 900px) {
  .last-first-name {
    font-size: 6rem;
  }
}

@media (max-width: 700px) {
  .last-first-name {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .last-first-name {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .last-first-name {
    font-size: 3.5rem;
  }
}
