.main-button {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.test2 {
  width: 98vw;
  height: 5px;
  position: fixed;
  bottom: 3.2rem;
  background-color: var(--clr-accent);
  z-index: 4;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--clr-primary);
  border: solid 4px var(--clr-accent);
  color: var(--clr-accent);
  cursor: pointer;
}

.random-button {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  bottom: 2rem;
  left: 4rem;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

@media (max-width: 450px) {
  button {
    font-size: 0.8rem;
  }
}
