.random-button {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--clr-primary);
  border: solid 4px var(--clr-accent);
  color: var(--clr-accent);
  cursor: pointer;
  top: 90vh;
  left: 10px;
  z-index: 600;
}
/* .line-button {
  width: 100px;
  height: 5px;
  position: fixed;
  top: 90vh;
  left: 0;
  background-color: var(--clr-accent);
  z-index: 500;
} */

@media (max-width: 850px) {
  .random-button {
    font-size: 0.8rem;
  }
}
