.marquee-icon {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  margin-top: 5px;
  color: var(--clr-primary);
}

.marquee {
  position: relative;
  z-index: 5000;
  background-color: var(--clr-accent);
}
