.test-box {
  width: 98%;
  height: 92%;
  display: flex;
  padding: 10px;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  overflow-y: scroll;
}

.project-box {
  display: flex;
  flex-direction: column;
  padding: 4px;
  /* width: 350px;
  height: 500px; */
  width: 300px;
  height: 500px;
  border: 5px solid var(--clr-accent);
  border-radius: 10px;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  background-color: var(--clr-primary);
}
.webpageimg {
  height: 98%;
  width: 98%;
  border-radius: 10px;
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 40px;
  color: var(--clr-accent);
  font-size: 1.8rem;
  margin: 3px 0;
}

.text-box {
  width: 100%;
  height: 200px;
  padding: 5px;
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
  color: var(--clr-accent);
  background-color: var(--clr-primary);
}
.project-title {
  text-align: center;
}

.link-box {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: var(--clr-accent);
  font-size: 1.8rem;
}
