.footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: var(--clr-primary);
  border: solid 10px var(--clr-accent);
  display: flex;
  justify-content: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.footer--text {
  font-size: 1rem;
  font-family: "Trispace", sans-serif;
  color: var(--clr-accent);
}
