code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-primary);
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;
}

:root {
  --clr-accent: #91e383;
  --clr-primary: #6e1c7c;
  --transition: background-color 1s ease-in-out, color 1s ease-in-out;
  /* transition: var(--transition) */
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}
